.Info {
    display: flex;
    align-items: baseline;
    flex-direction: column;

    margin-top: 15%;
}
.Info {
    &__value,
    &__name {
        color: white;
    }
    &__value {
        font-weight: 800;
        font-size: x-large;
        font-family: "Lexend Deca", sans-serif;
    }
    &__name {
        font-weight: 500;
        font-size: small;
        text-transform: uppercase;
        font-family: "Inter", sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
    }
}
