@import "../styles/global.scss";

body {
    background-color: hsl(233, 47%, 7%);
}
.App {
    @include flex();
    gap: 10%;
    height: 100vh;
    margin: 0 10vw;

    &__main {
        width: max(400px, 30%);

        .main__title {
            margin-bottom: 5%;
        }
        .main__info {
            width: 90%;
            @include flex();
            justify-content: space-between;
        }
    }

    &__container {
        width: min(400px, 50%);

        .container__img {
            width: 120%;
        }
    }
}

.App {
    &__main {
        .main__title {
            color: white;
        }
        .main__title,
        .main__desc {
            font-family: "Inter", sans-serif;
        }
        .main__title--color {
            color: hsl(277, 64%, 61%);
        }
        .main__desc {
            color: hsla(0, 0%, 100%, 0.75);
            font-weight: 400;
        }
    }
}

@media (max-width: 600px) {
    .App {
        flex-direction: column-reverse;
        margin: 10vh 10vw;

        &__main {
            width: 80%;
        }
        &__container {
            width: 100%;

            .container__img {
                width: 100%;
            }
        }
        .main__info {
            flex-direction: column;
        }
    }
}
